.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.src-image {
    display: none;
}

.moreImages{
    position: absolute;
    margin-top: -124.5%;
    height: 48.3%;
    width: 88.5%;
    background-color: rgba(84, 84, 84, 0.8);
    color: rgb(200,200,200);
    font-size: 30px;
    visibility: hidden;
}

.moreImages :hover{
    visibility: visible;

}

.primary{
    background-color:#e7e7e7!important;
}

.secondary{
    background-color:white!important;
}

h1,h2,h3,h4::first-letter{

    text-transform: capitalize;

}

#styled_video_container.style_it  {
    background: linear-gradient(to bottom, #ff670f 0%,#e20d0d 100%);
}
#styled_video_container.style_it video {
    border: 10px solid green !important;
    opacity: 0.6;
    transition: all 8s ease-in-out;
    transform: rotate(300deg);
    box-shadow:         12px 9px 13px rgba(255, 0, 255, 0.75);
}